astroid==2.3.3
certifi==2020.6.20
colorama==0.4.3
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
numpy==1.18.5
pandas @ file:///C:/ci/pandas_1592833613419/work
pylint==2.4.4
python-dateutil==2.8.1
pytz==2020.1
six==1.13.0
wincertstore==0.2
wrapt==1.11.2
